.result .image {
    max-width: 33%px;
    height: 250px;
    background-image: url("test.jpg");
    background-size: cover;
    background-position: center;
}

.result .text {
    background-color: rgb(237, 237, 237);
    font-weight: 700;
    text-align: center;
    padding: 10px 0px 10px 0px;
}

#charmander {
    position: fixed;
    bottom: 0;
    width: 340px;
    height: 360px;
    left:75%;
    pointer-events: none;
}

#pokedeximg {
    
    width: 800px;
    
}

#results {
    
    position: absolute;
    bottom: 320px;
    left: 486px;
    color: black;
    background-color: white;
    border-color: white;
    height: 54px;
    width: 229px;
    text-align: center;
    line-height: 52px;
    
}

#pokedex {
    
    position: relative;
    
}

#classify {
    
    position: absolute;
    bottom: 62px;
    left: 55px;
    color:black;
    background-color: #f9ee60;
    border-color: #f9ee60;
    height: 40px;
    width: 160px;

}

.result {
    width: 33%px;
    height: 300px;
}

.container {
    margin-top: 5vh;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    /*grid-template-rows: auto auto auto; */
    gap: 50px 10px;

}

footer {
    width: 100%;
    height: 75px;
}

footer p {
    width: 100%;
    text-align: center;
    color: whitesmoke;
    margin: 25px


}

#uploadedImg {
    position: absolute;
    left: 65px;
    bottom: 221px;
    width: 269px;
    height: 179px;
    
}

.lds-dual-ring {
    visibility: hidden;
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 32px;
    height: 32px;
    margin: 0px;
    margin-left: 24px;
    border-radius: 50%;
    border: 6px solid #606c76;
    border-color:  #606c76 transparent  #606c76 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  

  @media only screen and (max-width: 400px) {
    /* For mobile phones: */
    body {
        background-color:#ff1a55;
        color: #ffffff;
        font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        font-size: 1.3em;
        font-weight: 300;
        letter-spacing: .01em;
        line-height: 1.6;
      }
  
  
    #classify {
        position: absolute;
        bottom: -256px;
        left: 83px;
        color: black;
        background-color: #f9ee60;
        border-color: #f9ee60;
        height: 40px;
        width: 160px;
    }

    #uploadedImg {
        position: absolute;
        left: 36px;
        bottom: -179px;
        width: 269px;
        height: 179px;
        background-color: #ffff;
        border-radius: 7px;
    }
    #results {
        position: absolute;
        bottom: -305px;
        left: 36px;
        color: black;
        background-color: white;
        border-color: white;
        height: 54px;
        width: 269px;
        text-align: center;
        line-height: 52px;
        border-radius: 7px;
    }

    #pokedeximg {
        display: none;
    }    

    #charmander {
        display: none;
     
    }

    footer p {
        width: 100%;
        text-align: center;
        color: whitesmoke;
        margin: 25px;
        position: absolute;
        bottom: -128px;
        left: -33px;
    }


    }